/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Definir cores tema Dark */
:root,
:root[data-theme="dark"]{
    --bg-header: #222;
    --icone-tema: #f0f0f0;
    --cor-texto:#f0f0f0;
    --cor-body: #f0f0f0;
    
    --text-menu-menu: #f0f0f0;
    --text-menu-hover: #f0f0f0;
    --btn:#f0f0f0;
    --hover:#b5b5b5;
  
}

/* Definir cores tema Light */
:root[data-theme="light"]{
    --bg-header:#f0f0f0 ;
    --icone-tema: #222 ;
    --cor-texto:#222;
    --cor-body: #222;

    --text-menu-menu: #222;
    --text-menu-hover: #222;
    --btn:#222;
    --hover:#110c0c65;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html[data-theme='light'] .logo{
    filter:invert(1);
}

html{
    scroll-behavior:smooth;
}

body{
background: var(--bg-header);
color: var(--icone-tema);

}
h1{
    font-size: 40px;
    font-weight: 200;
    font-family: 'Nunito Sans';
    letter-spacing: -2px;
}
b{
    font-weight: 800;
}

i{
    color: var(--icone-tema);
    font-size: 20px;
    
}
#header{
font-family: 'Roboto';
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
width: 100%;

padding: 8px 16px;  /* 1° valor altura | 2° valor largura | sentido horário*/
z-index: 2;
}
.header-logo .logo{
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
}

.menu{
    display: flex;
    align-items: center;
    background: var(--bg-header);
    gap: 25px;  /* Separa um vão entre os elementos */
    list-style: none;
}

.menu-mobile{
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border: 1px solid var(--cor-body);
}
.menu-item{
    width: 100%;

}
.menu-link{
    display: flex;
    text-decoration: none;
    color: var(--cor-body);
    
}
.menu-texto{
    font-size: 20px;
    text-transform: uppercase;
}
/* Menu mobile*/
.menu-mobile .menu-link{
    flex-direction: column;
    justify-content:center;
    padding: 7px 15px ;
}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto
{
  color: var(--text-menu-menu);  
  font-weight: 800;
}
/* icone não selecionados ficam nesta cor */
.menu-icone, .menu-texto{
    color: var(--cor-texto);
    font-family:'Roboto'
    
}
/* animação ao passar o mouse por cima do texto e icone = aumenta o tamanho */
/* .menu-link .menu-texto:hover,
.menu-link .menu-icone:hover{
    font-size: 22px;      
} */
 .menu-icone{
    font-size: 25px;
 }
 .menu-principal{
    gap: 20px;
 }
.header-nav{
    display:none ;

}

#toggleTheme{
    font-size: 24px;
    color: var(--icone-tema);
    cursor: pointer;
    transition: ease-in-out .4s;
}

/* Home */
#home{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}



/* BTN */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 8px 10px ;
    cursor: pointer;
    
}
.btn-primary{
    border: 1px solid var(--btn);
}
.btn span{
    color: var(--btn);
    font-size: 16px;
    text-transform: uppercase;
}
.btn i{
    font-size: 14px;

}
a{
    text-decoration: none;   
}
.btn:hover{
    transform: scale(1.01);
    transition: ease-in-out .4s;
    /* transform: rotate(180deg);  Roda o texto */
}
.btn:hover span{
    color: var(--hover);
}

.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
/* ATUALIZAÇÕES FUTURAS */
#home, .projetos, .sobre, .contatos{
    padding: 32px 16px;
}
/* Projetos */
.projetos{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.projeto-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.projeto-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.card-img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 6px 55px #ac3030;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
}


/* Responsive CSS */
/* 768px  */
@media (min-width: 768px) {
    #header {
        position: fixed;
        border-bottom: 1px solid var(--cor-body);
        padding: 16px 80px;
        background: var(--bg-header);
    }
    .nav-mobile{
        display: none;
    }
    .header-nav{
        display: flex;
    }

    #home{
        padding: 128px 9px 64px 96px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
    }
}
/* 992 */
@media (min-width: 992px) {
    .projeto-card{
        flex-direction:row;
    }
    .card-img{
        width: 55%;
    }
    .card-body{
        justify-content: center;
    }
    
}
/* 1200px */
@media (min-width: 1200px){
    #home{
        padding: 160px 96px 32px;

    }
}
/* 1400px */
/* @media (min-width: 1400px){
    #header{
        padding: 192px 240px 64px;
    }
} */