*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: #222;
color: #f5f5f5;

}

i{
    color: #f0ff1f;
    font-size: 20px;
    
}
#header{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
width: 100%;
background: #222;
padding: 8px 16px;  /* 1° valor altura | 2° valor largura | sentido horário*/
z-index: 2;
}
.menu{
    display: flex;
    align-items: center;
    background: #222;
    gap: 5px;  /* Separa um vão entre os elementos */
    list-style: none;

}
.menu-item{
    width: 100%;

}
.menu-link{
    display: flex;
    text-decoration: none;
    color: white;
    
}
.menu-texto{
    font-size: 20px;
    text-transform: uppercase;
}
